@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

:root {
  // colors
  --white-color: white;
  --pale-blue-color: hsl(225, 100%, 94%);
  --bright-blue-color: #3829e0;
  --bright-blue-tint-color: #7469e9;
  --very-pale-blue-color: hsl(225, 100%, 98%);
  --desaturated-blue-color: hsl(224, 23%, 55%);
  --dark-blue-color: hsl(223, 47%, 23%);

  // color use
  --body-background-color: var(--pale-blue-color);
  --order-info-background-color: var(--white-color);
  --order-plan-background-color: var(--very-pale-blue-color);
  --order-description-text-color: var(--desaturated-blue-color);
  --order-plan-price-text-color: var(--desaturated-blue-color);
  --order-proceed-background-color: var(--bright-blue-color);
  --order-proceed-background-active-color: var(--bright-blue-tint-color);
  --order-proceed-text-color: var(--white-color);
  --order-cancel-text-color: var(--desaturated-blue-color);

  // fonts
  --order-info-font-family: "Red Hat Display", sans-serif;
  --order-heading-font-size: 2rem;
  --order-heading-font-weight: 900;
  --order-description-font-size: 1.6rem;
  --order-description-font-weight: 500;
  --order-plan-header-font-size: 1.6rem;
  --order-plan-header-font-weight: 700;
  --order-plan-price-font-size: 1.6rem;
  --order-plan-price-font-weight: 500;
  --order-plan-change-font-size: 1.6rem;
  --order-plan-change-font-weight: 500;
  --order-proceed-font-size: 1.6rem;
  --order-proceed-font-weight: 700;
  --order-cancel-font-size: 1.6rem;
  --order-cancel-font-weight: 700;

  // default font size is 16px
  // we want 1rem to be 10px for easy calcs
  // using 62.5% instead of hardcoding 10px
  // still allows the user to change her browser default
  font-size: 62.5%;
}

// here we have a CSS reset
// all elements will have there properties applied
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--body-background-color);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main {
  width: 90vw;
  max-height: 90vh;
}

.order__card {
  margin-bottom: 1rem;
}

.order__image {
  background: url(../images/illustration-hero.svg) center/cover no-repeat;
  width: 100%;
  height: 40vh;
  border-radius: 2rem 2rem 0 0;
}

.order__info {
  background-color: var(--order-info-background-color);
  font-family: var(--order-info-font-family);
  padding: 3rem;
  border-radius: 0 0 2rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.order__heading {
  font-size: var(--order-heading-font-size);
  font-weight: var(--order-heading-font-weight);
  margin-bottom: 2rem;
}
.order__description {
  font-size: var(--order-heading-font-size);
  font-weight: var(--order-description-font-weight);
  color: var(--order-description-text-color);
  margin-bottom: 2rem;
}
.order__plan {
  background-color: var(--order-plan-background-color);
  width: 100%;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  margin-bottom: 2rem;
}

.order__plan-header {
  font-size: var(--order-plan-header-font-size);
  font-weight: var(--order-plan-header-font-weight);
}
.order__plan-price {
  font-size: var(--order-plan-price-font-size);
  font-weight: var(--order-plan-price-font-weight);
  color: var(--order-plan-price-text-color);
}
.order__plan-change {
  font-size: var(--order-plan-change-font-size);
  font-weight: (--order-plan-change-font-weight);
  //color: var(--order-plan-price-text-color);
}

.order__proceed {
  width: 100%;
  background-color: var(--order-proceed-background-color);
  border: none;
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 2rem;
  font-size: var(--order-proceed-font-size);
  font-weight: var(--order-proceed-font-weight);
  color: var(--order-proceed-text-color);
  &:hover,
  &:active {
    background-color: var(--order-proceed-background-active-color);
    cursor: pointer;
  }
}

.order__cancel {
  font-size: var(--order-cancel-font-size);
  font-weight: var(--order-cancel-font-weight);
  color: var(--order-cancel-text-color);
  text-decoration: none;
}

footer {
  width: 96%;
  font-size: smaller;
  margin: 0 auto;
  text-align: center;
}
